<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="oracleClient2.0"/>
		<dataSource name="zxtdb" connectionString="Data Source=zxtdb;User Id=zxt_lbs;Password=13971093266;"/>
	</database>

	<sqlMaps>
    <sqlMap resource="SqlMaps/DeviceHisTrack.xml" />
	</sqlMaps>

</sqlMapConfig>