#wrapper{height:100%;}
#helpWrap{height:100%;position:relative;z-index:1;}
.helpLeft{width:220px;float:left;position:relative;background:#f5f6f7;height:100%;}
.helpToggle{float:left;position:relative;width:12px;height:100%;overflow:hidden;background:#fff url(help/helptogglebg.jpg) repeat-y 0 0;}
.helpToggle span{display:block;width:7px;height:21px;text-indent:-999px;overflow:hidden;background:url(help/helptoggle.png) no-repeat 0 0;position:absolute;top:50%;margin-top:-11px;right:0;cursor:pointer;}
.helpWrapToggle .helpToggle{margin-left:-5px;}
.helpWrapToggle .helpToggle span{background-position:0 100%;}
.helpWrapToggle .helpLeft{display:none;}
.helpWrapToggle .helpRightWrap{margin-left:-7px;}
.helpWrapToggle .helpRight{margin-left:7px;}
.helpRightWrap{width:100%;float:left;height:100%;margin-left:-232px;}
.helpRight{margin-left:232px;height:100%}
.helpContentWrap{height:100%;background:#fff url(help/helptop_bg.png) repeat-x 0 0;overflow:auto;}
.helpSearch{height:40px;border-bottom:1px solid #C5C5C5;}
.helpSearch .inputStyle{width:142px;height:21px;border:1px solid #999;margin-right:3px;margin-left:7px;margin-top:10px;float:left;background:url(help/ssearch.png) no-repeat 0 0;}
.helpSearch button{border:0;text-indent:-999px;cursor:pointer;margin-top:9px;float:left;display:block;width:55px;height:25px;background:url(help/sbtn.png) no-repeat 0 0;}
.helpTree{padding:20px 0;}
.helpTree .z-tree-root{padding-left:20px;}
.helpTitle{padding:25px 30px 30px;}
.helpContent{padding:0 40px 30px;line-height:25px;}
.helpTitle h2{font-family:'微软雅黑';font-size:18px;}
.helpContent h3{font-size:14px;font-weight:700}
.helpContent h4{font-size:14px;}
.helpContent strong{font-weight:700;display:block;}
.helpContent img{display:block;}